@page
@using ContosoCrafts.WebSite.Models
@model ContosoCrafts.WebSite.Pages.Product.CreateModel
@{
    ViewData["Title"] = "Create"; @* set page title to Create *@
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: none; color: white;">
        <li class="breadcrumb-item"><a href="/Index" style="color: white;">Home</a></li>
        <li class="breadcrumb-item"><a href="/Product" style="color: white;">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<div class="container white-font">
    <h2 class="white-font">Create new anime</h2>
    <form method="post"><!--Create form-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group"><!--Anime Title input group-->
            <label class="white-font" asp-for="Product.Title">Title</label>
            <input id="title-input" type="text" class="form-control" asp-for="Product.Title" placeholder="Title" />
            <span id="title-msg" class="title-msg"></span>
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>

        <div class="form-group"><!--Anime Description input group-->
            <label class="white-font" asp-for="Product.Description">Description</label>
            <textarea class="form-control" asp-for="Product.Description" placeholder="Descrption"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <div class="form-group"><!--Anime Image input group-->
            <label class="white-font" asp-for="Product.Image">Image</label>
            <input class="form-control" type="text" asp-for="Product.Image" placeholder="image" />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>

        <div class="form-group"><!--Anime Url input group-->
            <label class="white-font" asp-for="Product.Url">Url</label>
            <input class="form-control" type="text" asp-for="Product.Url" placeholder="related webstie URL" />
            <span asp-validation-for="Product.Url" class="text-danger"></span>
        </div>

        <div class="row form-group">
            <div class="col"><!--Anime Release input group-->
                <label class="white-font" asp-for="Product.Release">Release Year</label>
                <input class="form-control" type="number" asp-for="Product.Release" placeholder="Release year" min="1000" max="9999" />
                <span asp-validation-for="Product.Release" class="text-danger"></span>
            </div>

            <div class="col"><!--Anime Season input group-->
                <label class="white-font" asp-for="Product.Season">Total Season</label>
                <input class="form-control" type="number" asp-for="Product.Season" placeholder="Total Season" min="1" value="1" />
                <span asp-validation-for="Product.Season" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group"><!--Anime Trailer input group-->
            <label class="white-font" asp-for="Product.Trailer">Trailer URL</label>
            <input class="form-control" type="text" asp-for="Product.Trailer" placeholder="Trailer URL" />
            <span asp-validation-for="Product.Trailer" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="white-font" asp-for="Product.Banner">Banner URL</label>
            <input class="form-control" type="text" asp-for="Product.Banner" placeholder="related banner URL" />
            <span asp-validation-for="Product.Banner" class="text-danger"></span>
        </div>

        <div class="form-group"><!--Anime Genre input group-->
            <label class="white-font" asp-for="Product.Genre">Genre</label>
            <button class="btn btn-success custom-btn" type="button" id="create-genre">+</button>
            <div class="form-group form-inline">
                <input class="form-control" type="text" name="Product.Genre" placeholder="Genre" />
                <button class="btn btn-danger custom-btn remove-genre" type="button">-</button>
                <span asp-validation-for="Product.Genre" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group"><!--platform input group-->
            <label class="white-font" asp-for="Product.Genre">OTT platform</label>
            @foreach (OttTypeEnum platform in Enum.GetValues(typeof(OttTypeEnum)))
            {
                if (platform != 0)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@((int)platform)" name="Product.Ott">
                        <label class="form-check-label white-font" for="@platform">
                            <a href="@platform.GetUrl()" target="_blank">
                                <img class="OTT-Icon" src="@platform.GetIcon()" alt="@platform">
                            </a>
                        </label>
                        <span asp-validation-for="Product.Ott" class="text-danger"></span>
                    </div>
                }
            }
        </div>

        <button class="btn btn-success" type="submit">Save</button> <!--save data-->
        <button class="btn btn-danger" onclick="location.href='/Product/Index';" type="button">Cancel</button>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="/lib/jquery/dist/jquery.js"></script>

<script>
    /// detect input event for Title to detect duplicate title
    $(document).ready(function () {
        $('#title-input').on('input', function () {
            var data = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ProductService.GetAllData()));
            var title = $(this).val();
            console.log("title=" + title);
            console.log("duplicate=" + data.some(p => p.Title === title));
            if (data.some(p => p.Title === title)) {
                $("#title-msg").text("Duplicate title.");
                return;
            }
            $("#title-msg").text("");
        });
    });
</script>