@page
@model ReadModel
@{
    ViewData["Title"] = "Read";
    @* set page title to Read *@
}


<div class="container white-font"> <!--content container-->
    @if (Model.Product == null)
    {
        <h5>Sorry, the data you trying to access is not exists.</h5>
        return;
    }
    <!--Embeded video with iframe-->
    <div class="videobox">
        <!--for responsive usage-->
        <iframe class="trailer" src="@Model.Product.Trailor" title="Official English Trailer | Naruto, Set 1 | VIZ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <h2>@Model.Product.Title</h2> <!--Product title-->
    <div class="description">@Model.Product.Description</div><!--Product description-->
    
    <!--tags area, contains release year and genre-->
    <div class="padding-block">
        <span class="tags">#@Model.Product.Release</span><!--Product Release year-->
        <span class="tags">#@Model.Product.Season Seasons</span><!--Total Seasons-->
        <!--Product genre display as tags one by one-->
        @foreach (var genre in Model.Product.Genre)
        {
            <span class="tags">#@genre</span>
        }
    </div>
    
    <div class="padding-block"></div> <!--push some space for better look-->

    <!--OTT area-->
    <h5>Available platforms</h5><!--OTT title-->
    <div>
        <!--Product OTT display as clickable icon one by one--> 
        @foreach (var ott in Model.Product.OTT)
        {
            <a href="@ott.Url" target="_blank">
                <img class="OTT-Icon" src="@ott.Icon"></img>
            </a>
        }
    </div>
</div>