@page "{id}"
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ReadModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background: none; color: white;">
        <li class="breadcrumb-item"><a href="/Index" style="color: white;">Home</a></li>
        <li class="breadcrumb-item"><a href="/Product" style="color: white;">Admin</a></li>
        <li class="breadcrumb-item active" aria-current="page">Read</li>
    </ol>
</nav>

@{
    ViewData["Title"] = "Read"; @* set page title to Read *@
}

<div class="container white-font">
    <!--content container-->
    @if (Model.Product == null)
    {
        <h5>Sorry, the data you trying to access is not exists.</h5>
        return;
    }

    <!--Embeded video with iframe-->
    <div class="videobox">
        <!--for responsive usage-->
        <iframe class="trailer" src="@Model.Product.Trailer" title="Official English Trailer | Naruto, Set 1 | VIZ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <h2>@Model.Product.Title</h2> <!--Product title-->
    <div class="description">@Model.Product.Description</div><!--Product description-->
    <!--tags area, contains release year and genre-->
    <div class="padding-block">
        @if (Model.AverageRating.HasValue)
        {
            <span class="tags">Average Rating : @Model.AverageRating.Value.ToString("0.0")</span>
        }

        @if (@Model.Product.Release != null)
        {
            <span class="tags">#@Model.Product.Release</span>

            <!--Product Release year-->
        }

        @if (@Model.Product.Season != 0)
        {
            <span class="tags">#@Model.Product.Season Seasons</span>

            <!--Product Season year-->
        }

        <!--Product genre display as tags one by one-->
        @if (@Model.Product.Genre != null)
        {
            @foreach (var genre in Model.Product.Genre)
            {
                <a class="tags clickable" onclick="location.href='/Index?genre=@genre';">#@genre</a>
            }
        }
    </div>

    <div class="padding-block"></div> <!--push some space for better look-->
    <!--OTT area-->
    <h5>Available platforms</h5><!--OTT title-->
    <div>
        <!--Product OTT display as clickable icon one by one-->
        @foreach (var platform in Model.Product.Ott)
        {
            <a href="@platform.GetUrl()" target="_blank">
                <img class="OTT-Icon" src="@platform.GetIcon()" alt="@platform">
            </a>
        }
    </div>
</div>