@page
@model ReadModel
@{
    ViewData["Title"] = "Read"; @* set page title to Read *@
}

<div class="container white-font"> <!--content container-->
    <h2>@Model.Product.Title</h2> <!--Product title-->
    <img class="read-img" src="@Model.Product.Image"></img><!--Product image-->
    <h3>Description</h3><!--Description title-->
    <div>@Model.Product.Description</div><!--Product description-->

    <div>
        <span class="tags">#@Model.Product.Release</span><!--Product Release year-->
        <!--Product genre display as tags one by one-->
        @foreach (var genre in Model.Product.Genre)
        {
            <span class="tags">#@genre</span>
        }
    </div>
    
    <div class="padding-block"></div>

    <h5>Available platforms</h5><!--Description title-->
    <div>
        <!--Product OTT display as clickable icon one by one--> 
        @foreach (var ott in Model.Product.OTT)
        {
            <a href="@ott.Url" target="_blank">
                <img class="OTT-Icon" src="@ott.Icon"></img>
            </a>
        }
    </div>
</div>